<!DOCTYPE html>
<html>
<%- include('./head.ejs') %>

    <body>
        <%- include('./navigation.ejs') %>
            <h1>ONLINE REGISTRATIONS</h1>

            <p>
                <strong></strong>
                online registrations es una plataforma dispuesta a administrar  información vinculada con empleados y espacios de trabajo.
            </p>